<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.o_mysql.mapper.OGoodsSpecificationMapper">

    <resultMap id="BaseResultMap" type="org.example.o_mysql.domain.OGoodsSpecification">
            <id property="spcid" column="spcid" jdbcType="VARCHAR"/>
            <result property="spuno" column="spuno" jdbcType="VARCHAR"/>
            <result property="spc_name" column="spc_name" jdbcType="VARCHAR"/>
            <result property="stock_max_num" column="stock_max_num" jdbcType="BIGINT"/>
            <result property="stock_type" column="stock_type" jdbcType="BIGINT"/>
            <result property="stock_message" column="stock_message" jdbcType="BIGINT"/>
            <result property="total_quantity" column="total_quantity" jdbcType="DOUBLE"/>
            <result property="available_quantity" column="available_quantity" jdbcType="DOUBLE"/>
            <result property="warn_total_num" column="warn_total_num" jdbcType="DOUBLE"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="is_delete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        spcid,spuno,spc_name,
        stock_max_num,stock_type,stock_message,
        total_quantity,available_quantity,warn_total_num,
        createTime,updateTime,is_delete
    </sql>
</mapper>
