<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.o_mysql.mapper.OGoodsSpecificationMapper">

    <resultMap id="BaseResultMap" type="org.example.o_mysql.domain.OGoodsSpecification">
            <id property="specid" column="specid" jdbcType="BIGINT"/>
            <result property="spuno" column="spuno" jdbcType="BIGINT"/>
            <result property="specName" column="spec_name" jdbcType="VARCHAR"/>
            <result property="stockMaxNum" column="stock_max_num" jdbcType="BIGINT"/>
            <result property="stockType" column="stock_type" jdbcType="BIGINT"/>
            <result property="stockMessage" column="stock_message" jdbcType="BIGINT"/>
            <result property="totalQuantity" column="total_quantity" jdbcType="DOUBLE"/>
            <result property="availableQuantity" column="available_quantity" jdbcType="DOUBLE"/>
            <result property="warnTotalNum" column="warn_total_num" jdbcType="DOUBLE"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        specid,spuno,spec_name,
        stock_max_num,stock_type,stock_message,
        total_quantity,available_quantity,warn_total_num,
        createTime,updateTime,is_delete
    </sql>
</mapper>
