<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace=".mapper.OGoodsUnitMapper">

    <resultMap id="BaseResultMap" type=".domain.OGoodsUnit">
            <id property="skuno" column="skuno" jdbcType="VARCHAR"/>
            <result property="spuno" column="spuno" jdbcType="VARCHAR"/>
            <result property="specification" column="specification" jdbcType="VARCHAR"/>
            <result property="dateManufacture" column="date_manufacture" jdbcType="TIMESTAMP"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        skuno,spuno,specification,
        date_manufacture,createTime,updateTime,
        is_delete
    </sql>
</mapper>
