<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.o_mysql.mapper.OShelvesMapper">

    <resultMap id="BaseResultMap" type="org.example.o_mysql.domain.OShelves">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="postion" column="postion" jdbcType="VARCHAR"/>
            <result property="wareId" column="ware_id" jdbcType="BIGINT"/>
            <result property="resId" column="res_id" jdbcType="BIGINT"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,type,
        postion,ware_id,res_id,
        createTime,updateTime,is_delete
    </sql>
</mapper>
