<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.o_mysql.mapper.TInboundPutMapper">

    <resultMap id="BaseResultMap" type="org.example.o_mysql.domain.TInboundPut">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="spuId" column="spu_id" jdbcType="BIGINT"/>
            <result property="specId" column="spec_id" jdbcType="BIGINT"/>
            <result property="managerName" column="manager_name" jdbcType="VARCHAR"/>
            <result property="managerTelephone" column="manager_telephone" jdbcType="VARCHAR"/>
            <result property="itemNum" column="item_num" jdbcType="DOUBLE"/>
            <result property="wareId" column="ware_id" jdbcType="BIGINT"/>
            <result property="resId" column="res_id" jdbcType="BIGINT"/>
            <result property="sheId" column="she_id" jdbcType="BIGINT"/>
            <result property="freId" column="fre_id" jdbcType="BIGINT"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,spu_id,spec_id,
        manager_name,manager_telephone,item_num,
        ware_id,res_id,she_id,
        fre_id,createTime,updateTime,
        is_delete
    </sql>
</mapper>
