<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.o_mysql.mapper.TReceiptItemMapper">

    <resultMap id="BaseResultMap" type="org.example.o_mysql.domain.TReceiptItem">
            <id property="ritemId" column="ritem_id" jdbcType="VARCHAR"/>
            <result property="batchId" column="batch_id" jdbcType="VARCHAR"/>
            <result property="spuId" column="spu_id" jdbcType="BIGINT"/>
            <result property="specId" column="spec_id" jdbcType="BIGINT"/>
            <result property="getNum" column="get_num" jdbcType="DOUBLE"/>
            <result property="totalWeight" column="total_weight" jdbcType="DOUBLE"/>
            <result property="checkLineId" column="check_line_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="endtime" column="endTime" jdbcType="TIMESTAMP"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        ritem_id,batch_id,spu_id,
        spec_id,get_num,total_weight,
        check_line_id,status,endTime,
        createTime,updateTime,is_delete
    </sql>
</mapper>
